* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a,
a:link,
a:visited,
a:active {
  color: black;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 2rem auto;
  border: 3px solid black;
}

.flex,
.row {
  display: flex;
}

img,
.width-100,
.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-third {
  width: calc(100% / 3);
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.margin-lr {
  margin: 0 1rem;
}

.margin-tb {
  margin: 1rem 0;
}

.arrow {
  font-size: xx-large;
}

.dots {
  font-size: small;
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

.fa-circle {
  margin: 0 0.2rem;
}
