* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Cousine", monospace;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green-text {
  color: #26cf25;
}

.red-text {
  color: red;
}

.underline {
  border-bottom: 3px solid black;
}

.accuracy {
  position: fixed;
  top: 20px;
  right: 50px;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-again {
  text-align: center;
  border: 1px solid black;
  background-color: white;
  box-shadow: 5px 5px 15px 3px black;
  padding: 10px 20px 20px 20px;
  border-radius: 10px;
}

.hide {
  display: none;
}
